<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>index</title>
</head>
<body>
    <h1>CRUD IN Mongodb</h1>
    <br><br>

    <h3>
        <a href="{% url "add_item" %}"> <button> Add_new_item </button></a>


    </h3>
    {% for item in items %}
        <hr>
        <h3> Object_id: {{ item.id }} <br>
            Data = {{item}} <br>
            Name : {{ item.name }} <br>
            phone : {{ item.phone }} <br>
            

        </h3>
         <a href="{% url 'update_item' item.id %}"> <button>Update</button></a> 
         <a href="{% url 'delete_item' item.id %}"> <button>Delete</button></a> 

    
    {% endfor %}
</body>
</html>